* {
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f3f3f3;
}

h1 {
  text-transform: uppercase;
  margin: 0.2rem 0;
}

.brand-logo {
  text-shadow: 4px 4px 4px skyblue;
  font-size: 1.5rem;
}

.background-badge {
  position: absolute;
  float: right;
  margin: 2rem 3rem;
  top: 5%;
  right: 2%;
  color: white;
  white-space: nowrap;
  font-size: 4vw;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.main {
  margin: 0;
  padding: 0;
}

#about-image {
  width: 200px;
  margin-top: 1.2rem;
}

.about-text {
  margin: 2.5rem;
}

.image-col {
  align-items: center;
  justify-content: center;
}

.GalleryImage {
  width: 100%;
  overflow: hidden;
  height: auto;
  margin: 1.4rem auto;
  cursor: pointer;
}

.GalleryImage:hover {
  transform: scale(1.1);
}

.card-img-top {
  width: 100%;

  object-fit: cover;
}

.card-title {
  font-weight: bold;
}
.card-text {
  font-style: italic;
}

.gallery-preview-header {
  font-size: 7vw;
  overflow-x: visible;
}

/* .basic-info-container {
  background-color: #17a2b8;
} */
.resume-basic-info {
  background-color: navy;
  padding: 1em 0;
  margin: 1em 0;
  color: #ffffff;
}

.resume-basic-info a {
  color: #ffffff;
}

.resume-name {
  margin: 0 0 0.4em 0;
}

.resume-title {
  margin-bottom: 1.5rem;
}

.job-details {
  margin: 2rem 0 0 0;
}
.job-skills {
  margin: auto;
}
